In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [ ]:
# Leer la siguiente URL y conocer su informacion principal, mediante el uso los atributos y métodos necesarios de pandas.

# URL
url = "https://raw.githubusercontent.com/rubisabel00/ciencias-de-datos-Sena/main/DocumentosNB03/clientes.csv"

# LEER URL
df_url = pd.read_csv(url)

# INFORMACIÓN
df_url.describe()

In [ ]:
# Realizar una descripcion estadística de la informacion encontrada y normalizarla (Eliminar los null).

df_sin_nulos = df_url.dropna()
df_sin_nulos

In [ ]:
# Generar una gráfica representativa de la informacion obtenida.

print(df_sin_nulos.plot())

In [ ]:
# Generar dos consultas de agrupamiento de valor agregado a la informacion obtenida.

# Consulta 1
df_sin_nulos.groupby('Método de pago').count()

# Consulta 2
df_sin_nulos.groupby('Método de pago').agg({'Nombre' : "count"})

In [ ]:
# Generar nuevas columnas según sean requeridas para completar la informacion obtenida.

# Nueva columna
df_sin_nulos['Información de pago'] = df_sin_nulos['Nombre'] + " Pago con " + df_sin_nulos['Método de pago']
df_sin_nulos

In [7]:
# Exportar el trabajo realizado en los anteriores items a un archivo de excel.

df_sin_nulos.to_excel("clientes.xlsx", index=False)
df_to_excel = pd.read_excel("clientes.xlsx")
df_to_excel

,ID del cliente,Nombre,Última fecha de compra,Frecuencia de compra,Valor promedio de la compra,Categoría de productos comprados,Método de pago,Edad,Información de pago
0,1,Juan Perez,15/03/2022,5,200.5,Ropa,Tarjeta de crédito,32,Juan Perez Pago con Tarjeta de crédito
1,2,Ana Rodriguez,01/04/2022,2,80.0,Juguetes,Efectivo,45,Ana Rodriguez Pago con Efectivo
2,3,Luisa Hernandez,10/12/2021,3,150.2,Electrónica,Transferencia bancaria,28,Luisa Hernandez Pago con Transferencia bancaria
3,4,Carlos Garcia,28/02/2022,1,300.0,Alimentos,Tarjeta de crédito,50,Carlos Garcia Pago con Tarjeta de crédito
4,5,Maria Gomez,20/03/2022,4,75.8,Ropa,Efectivo,22,Maria Gomez Pago con Efectivo
...,...,...,...,...,...,...,...,...,...
137,160,Andrea Soto,09/06/2022,2,50.0,Electrónica,Transferencia bancaria,25,Andrea Soto Pago con Transferencia bancaria
138,161,Laura Hernandez,06/06/2022,1,120.0,Alimentos,Efectivo,39,Laura Hernandez Pago con Efectivo
139,145,Luis Garcia,04/06/2022,4,75.2,Alimentos,Transferencia bancaria,28,Luis Garcia Pago con Transferencia bancaria
140,154,Luisa Perez,08/06/2022,2,80.0,Ropa,Transferencia bancaria,33,Luisa Perez Pago con Transferencia bancaria
141,160,Andrea Soto,09/06/2022,2,50.0,Electrónica,Transferencia bancaria,25,Andrea Soto Pago con Transferencia bancaria