In [1]:
import sqlite3
import pandas as pd

*1. ¿Cúal es el ingreso total generado por el negocio?*

In [10]:
#Conexión a la base de datos
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

total_ventas = pd.read_sql_query("""SELECT SUM(precio_total) AS ingreso_total FROM tickets""", conexion)
print(f" Ingreso total generado por el negocio es: {total_ventas['ingreso_total'][0]:,.2f}")

conexion.close()

 Ingreso total generado por el negocio es: 39,854,875.32

*2. ¿Cúal ha sido la tendencia de ingresos mensuales?*

In [ ]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

tendencia_ventas = pd.read_sql_query("""SELECT strftime('%Y-%m', fecha) AS mes, SUM(precio_total) AS ingresos_mensuales
                                        FROM tickets    
                                        GROUP BY mes
                                        ORDER BY mes""", conexion)
print("\nTendencia de ingresos mensuales") 
print(tendencia_ventas)

conexion.close()

Tendencia de ingresos mensuales
        mes  ingresos_mensuales
0   2023-01          6673099.74
1   2023-02          4945202.53
2   2023-03          4725676.75
3   2023-04          3994824.12
4   2023-05          3626726.78
5   2023-06          3125001.00
6   2023-07          2937364.05
7   2023-08          2533350.46
8   2023-09          2343858.92
9   2023-10          2127269.84
10  2023-11          1637899.98
11  2023-12          1184601.15

*3. ¿Cuál es el rendimiento de cada departamento en términos de ventas?*

In [ ]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

rendimiento_departamentos = pd.read_sql_query("""
    SELECT id_departamento, SUM(precio_total) AS ventas_totales
    FROM tickets
    GROUP BY id_departamento
    ORDER BY ventas_totales DESC
""", conexion)

print("\nVentas por Departamento") 
print(rendimiento_departamentos)

conexion.close()

Ventas por Departamento
   id_departamento  ventas_totales
0                4     37003251.70
1               16      1529354.77
2               20       946220.85
3                7       376048.00

*4. ¿Cómo se distribuyen las ventas entre las diferentes secciones?*

In [ ]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

ventas_por_seccion = pd.read_sql_query("""
    SELECT id_seccion, SUM(precio_total) AS ventas_por_seccion
    FROM tickets
    GROUP BY id_seccion
    ORDER BY ventas_por_seccion DESC
""", conexion)

print("\nDistribución de Ventas por Sección") 
print(ventas_por_seccion)

conexion.close()

Distribución de Ventas por Sección
   id_seccion  ventas_por_seccion
0          24         20879374.69
1         123          8634823.85
2          83          7237312.87
3          67           946220.85
4          53           821420.62
5          84           707934.15
6         115           376048.00
7          16           251740.29

*5. ¿Cuáles son los 10 productos más vendidos en cantidad?*

In [9]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

productos_mas_vendidos = pd.read_sql_query("""
    SELECT nombre_producto, SUM(cantidad) AS total_vendido
    FROM tickets
    GROUP BY nombre_producto
    ORDER BY total_vendido DESC
    LIMIT 10
""", conexion)

print("\nLos 10 Productos Más vendidos en Cantidad") 
print(productos_mas_vendidos)

conexion.close()

Los 10 Productos Más vendidos en Cantidad
              nombre_producto  total_vendido
0                      Banana        2460324
1  Bolsa de Bananas Orgánicas        1976709
2            Fresas Orgánicas        1381309
3    Espinacas Baby Orgánicas        1258330
4      Aguacate Hass Orgánico        1104957
5           Aguacate Orgánico         923461
6                Limón Grande         804752
7                      Fresas         748065
8                     Limones         733736
9       Leche Entera Orgánica         715085

*6. ¿Cuáles son los 10 productos que generan más ingresos?*

In [8]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

productos_mayores_ingresos = pd.read_sql_query("""
    SELECT nombre_producto, SUM(precio_total) AS ingresos_totales
    FROM tickets
    GROUP BY nombre_producto
    ORDER BY ingresos_totales DESC
    LIMIT 10
""", conexion)

print("\nLos 10 Productos que Generan Más Ingresos") 
print(productos_mayores_ingresos)

conexion.close()

Los 10 Productos que Generan Más Ingresos
              nombre_producto  ingresos_totales
0  Bolsa de Bananas Orgánicas        4842937.05
1            Fresas Orgánicas        3439459.41
2                      Banana        2583340.20
3        Frambuesas Orgánicas        2032919.25
4      Aguacate Hass Orgánico        1977873.03
5    Espinacas Baby Orgánicas        1874911.70
6           Aguacate Orgánico        1616056.75
7                      Fresas        1533533.25
8         Arándanos Orgánicos        1444778.50
9    Tomates Cherry Orgánicos        1128040.95

*7. ¿Quiénes son los 20 clientes que más compran en términos de ingresos?*

In [7]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

clientes_mayores_ingresos = pd.read_sql_query("""
    SELECT id_cliente, SUM(precio_total) AS ingresos_totales
    FROM tickets
    GROUP BY id_cliente
    ORDER BY ingresos_totales DESC
    LIMIT 20
""", conexion)

print("\nLos 20 Clientes que más generan Ingresos:")
print(clientes_mayores_ingresos)

conexion.close()

Los 20 Clientes que más generan Ingresos:
    id_cliente  ingresos_totales
0       189425           4784.44
1       145686           4656.01
2        95967           4441.07
3        67870           4381.49
4        51256           4280.17
5       108031           4170.37
6       105213           4164.07
7        66806           4010.08
8       153932           3966.09
9       143296           3887.86
10      175294           3886.68
11        1197           3883.76
12       62239           3873.40
13        5665           3862.69
14       31552           3852.53
15      132274           3842.65
16       14868           3836.05
17      103634           3808.71
18      132022           3803.13
19       94701           3783.81

*8. ¿Cuál es la compra media por cliente?*

In [6]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

compra_media = pd.read_sql_query("""
    SELECT AVG(ingresos_cliente) AS compra_media
    FROM (
        SELECT id_cliente, SUM(precio_total) AS ingresos_cliente
        FROM tickets
        GROUP BY id_cliente
    )
""", conexion)

print("\nCompra Media por Cliente")
print(compra_media)

conexion.close()

Compra Media por Cliente
   compra_media
0    219.099604

*9. ¿Cuántos pedidos totales se han realizado?*

In [5]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

total_pedidos = pd.read_sql_query("""
    SELECT COUNT(DISTINCT id_pedido) AS total_pedidos
    FROM tickets
""", conexion)

print("\nTotal de Pedidos Realizados")
print(total_pedidos)

conexion.close()

Total de Pedidos Realizados
   total_pedidos
0        2060188

*10.¿Cuál es el valor promedio por pedido?*

In [4]:
conexion = sqlite3.connect('./Datos/sanoyfresco.db')

valor_promedio_pedido = pd.read_sql_query("""
    SELECT (SUM(precio_total) / COUNT(DISTINCT id_pedido)) AS valor_promedio_pedido
    FROM tickets
""", conexion)

print("\nValor Promedio por Pedido")
print(valor_promedio_pedido)

conexion.close()

Valor Promedio por Pedido
   valor_promedio_pedido
0              19.345261